#root {
    font-size: 16px;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    position: sticky;
    background-color: white;
    padding: 2em;
    align-items: center;
    color: white;
}

nav li {
    color: black;
    font-size: 3em;
}

ul.MainNavbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    position: sticky;
    background: linear-gradient(to bottom, rgb(245, 81, 95), rgb(159, 4, 27));
    padding: 2em;
    margin: 0;
    border-top: 2px solid black;
}

ul.MainNavbar li {
    color: black;
    font-size: 2em;
}

.Toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#mantine-lh6zqesbw-target {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.m_77c9d27d {
    background: linear-gradient(to bottom, rgb(245, 81, 95), rgb(159, 4, 27));
}

section ul {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: center;
    padding-inline-start: 0;
}

li.card {
    list-style: none;
    display: flex;
    margin-inline: 4%;
    margin-block: 4%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 1px -1px rgb(186, 186, 186);
    border-radius: 10px;
}

li.card:hover {
    background: linear-gradient(to bottom, rgb(245, 81, 95), rgb(159, 4, 27));
}

li.card div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

a {
    text-decoration: none;
    color: black;
}


div.entryCards button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 150%;
    cursor: pointer;
}

div.entryCards button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    font-weight: bold;
}

div.entryCards {
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

div.gymCard {
    display: flex;
    background-image: url(/src/assets/Strong_Dobby.png);
    width: 500px;
    height: 500px;
    background-size: cover;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

div.bodyCard {
    display: flex;
    background-image: url(/src/assets/Bellatrix.png);
    width: 500px;
    height: 500px;
    background-size: cover;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

div.articlesCard {
    display: flex;
    background-image: url(/src/assets/Snape.png);
    width: 500px;
    height: 500px;
    background-size: cover;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

li.card img {
    height: 30vh;
    width: 20vw;
}

div.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 2em;
}

div.AbouUs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 2em;
    border-top: 2px solid rgb(159, 4, 27);
    margin-top: 2em;
}

div.AbouUs p {
    width: 80%;
}

div.AbouUs a {
    color: blue;
}

div.AbouUs img {
    width: 15vw;
    height: 20vh;
}

div.Santi,
div.Omid {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-inline-start: 2em;
    padding-inline-end: 2em;
    padding-bottom: 2em;
}

div.AddNewExercise {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

div.AddNewExercise label {
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

div.AddNewExercise button {
    margin-top: 1em;
    padding: .5rem;
}